<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=3ETIaLEPjwWcg8zVjZQBL7rf_tc-EaLZ_8g2HdtzE0OlyeBHqkjYmNSERVPOf9BR2mKhkWtn4qbkB6WeENEVfXUVfr42xyUEQ8P0G_kZYVOVLTwwV9hDZ7lFXsGjZHiBt6WJJJZKbxnZ5IsyXKE9HZ7lw0eEPh5jCuFQvd7N8jOZWgoTVY2BpOUAE6ihrTP1ole-NUUbgJVpEAmEwKIvyKtndpxU6RMIbEwPX1nTnjFw90eYyaCZAOANOk2Q23CjCQLbNTqAkZqUK3IhjbG0rw" charset="UTF-8"></script><script type="text/javascript" src="eel.js"></script>
    <link rel="stylesheet" href="static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="first_page">
        <div class="logo_area">
            <div class="logo"></div>
        </div>
        <div class="title_area">
            <div class="title"></div>
        </div>
        <div class="info_area">
            <div class="info_fon"></div>
            <div class="info">
                <p class="info_text">
                    Приветствуем вас в приложение LAZY!<br><br>
                    Здесь вы сможете найти ближайшие мероприятия по всей ЮГРЕ, узнать о достопримечательностях, а так же где можно пообедать.<br><br>
                    Скорей смотри ленту или перейди в поиск и выбери интересующие категории!
                </p>
            </div>
        </div>
    </div>
    <div class="block_area" id="block_area"></div>

    <div class="footer">
        <div class="button_area">
            <a href="search.html">
                <div class="search"></div>
            </a>
            <a href="home.html">
                <div class="home"></div>
            </a>
            <a href="map.html">
                <div class="map"></div>
            </a>
            <a href="user.html">
                <div class="account"></div>
            </a>
        </div>
    </div>

</body>
<script type="text/javascript"> 
// let deleteButton = document.getElementById('deleteButton');
// deleteButton.addEventListener('click', deleteAllBlocks);
window.onresize = function (){
    if (window.outerWidth < 428 || window.outerHeight < 926){
        window.resizeTo(428, 926);
    }
    else if (window.outerWidth > 428 || window.outerHeight > 926){
        window.resizeTo(428, 926);
    }
}

window.onload = function() {
    for (let i = 1; i <= 13; i++) {
        createBlock(i);
    }

    check();
};

function createBlock(blockNumber) {
    let block_area = document.getElementById('block_area');

    // Основной блок
    let mainBlock = document.createElement('div');
    mainBlock.id = `Block_${blockNumber}`;
    mainBlock.className = 'Block';
    mainBlock.style.border = '1px solid black';
    mainBlock.onclick = () => Block_display_full(blockNumber);

    // Кнопка закрытия
    let closeButton = document.createElement('button');
    closeButton.id = `btn_close_${blockNumber}`;
    closeButton.style.display = 'none';
    closeButton.style.backgroundColor = '#FFAC33';
    closeButton.style.border = 0;
    closeButton.textContent = 'Close';
    mainBlock.appendChild(closeButton);

    // Создаем новый div для оборачивания тегов p
    let pWrapper = document.createElement('div');
    pWrapper.id = `pWrapper_${blockNumber}`;
    pWrapper.style.display = 'flex';
    

    // Контент
    let infoElement = document.createElement('pre');
    infoElement.id = `s_info_${blockNumber}`;
    infoElement.style.textAlign = 'center';
    pWrapper.appendChild(infoElement);

    // Описание
    let descElement = document.createElement('p');
    descElement.id = `s_desc_${blockNumber}`;
    pWrapper.appendChild(descElement);

    // Добавляем обертку в основной блок
    mainBlock.appendChild(pWrapper);

    block_area.appendChild(mainBlock);
}

    // HR
    // let hrElement = document.createElement('hr');
    // hrElement.id = `hr_${blockNumber}`;
    // hrElement.style.display = 'none';
    // mainBlock.appendChild(hrElement);

    // Отступы
    // let brElement1 = document.createElement('br');
    // let brElement2 = document.createElement('br');
    // document.body.appendChild(brElement1);
    // document.body.appendChild(brElement2);

function deleteAllBlocks() {
    let Blocks = document.querySelectorAll('.Block');
    for (let i = 0; i < Blocks.length; i++) {
        Blocks[i].remove();
    }

    createALLBlock();
}

function createALLBlock() {
    for (let i = 1; i <= 13; i++) {
        createBlock(i);
    }
    check();
}

async function check() {
    for (let Block_number = 1; Block_number <= 13; Block_number++)  
    {
        let s_info = await eel.short_info(Block_number)();
        let infoElement = document.querySelector("#s_info_" + Block_number);
        infoElement.textContent = s_info + ",";
        infoElement.style = "font-family: Open Sans; font-weight: 800; color: #FFAC33; font-size: 15px;";

        let s_desc = await eel.short_desc(Block_number)();
        let descElement = document.querySelector("#s_desc_" + Block_number);
        descElement.textContent = s_desc;
        descElement.style = "font-family: Open Sans; font-weight: 800; color: #FFAC33; font-size: 15px;";

        // let hrElement = document.querySelector("#hr_" + Block_number);
        // hrElement.style.display = "block";
    }
}

async function Block_display_full(Block_number) {
    console.log("Меня вызвали")
    let Block = document.querySelector("#Block_" + Block_number);
    Block.style.position = "absolute";
    Block.style.top = "180%";
    Block.style.left = "50%";
    Block.style.alignItems = "center";
    Block.style.transform = "translate(-50%, -50%)";
    Block.style.width = "95%";
    Block.style.height = "40%";
    Block.style.backgroundImage = "url(static/img/post" + Block_number + "_" + 2 + ".jpg)";
    Block.style.border = "1px solid black";
    
    let Pw = document.querySelector("#pWrapper_" + Block_number);
    Pw.style.display = "flex";
    Pw.style.alignItems = 'flex-start';
    Pw.style.justifyContent = 'flex-start';
    Pw.style.flexDirection = 'column';


    let btn_close = document.querySelector("#btn_close_" + Block_number);
    btn_close.style.display = "block";
    btn_close.addEventListener('click', (event) => {
        event.stopPropagation();
        deleteAllBlocks();
    });
    // btn_close.addEventListener('click', () => {
    //     Block.hidden = true;
    //     deleteAllBlocks();

    // });

    let s_info = await eel.short_info(Block_number)();
    let infoElement = document.querySelector("#s_info_" + Block_number);
    // infoElement.style.display = "flex";
    // infoElement.style.alignItems = "flex-start";
    infoElement.textContent = s_info;


    let f_desc = await eel.Block_full(Block_number)();
    let descElement = document.querySelector("#s_desc_" + Block_number);
    // descElement.style.display = "flex";
    // descElement.style.alignItems = "flex-start";
    descElement.textContent = f_desc;

}

</script>
</html>

<!-- 
 let btn_close = document.querySelector("#btn_close_" + Block_number);
 btn_close.style.display = "block";
 btn_close.addEventListener("click", () => {
     document.getElementById("overlay").style.display = "none";
     Block.style.zIndex = "3";
     const parentBlock = btn_close.parentNode;
     parentBlock.parentNode.removeChild(parentBlock);

 });  -->