<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/map_style.css">
    <script type="text/javascript" src="eel.js"></script>
    <title>Map</title>
</head>
<body>
    <div id="mapContainer"></div>
    <div class="footer">
        <div class="button_area">
            <a href="search.html">
                <div class="search"></div>
            </a>
            <a href="home.html">
                <div class="home"></div>
            </a>
            <a href="map.html">
                <div class="map"></div>
            </a>
            <a href="user.html">
                <div class="account"></div>
            </a>
        </div>
    </div>
    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"> -->
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ВАШ_API_КЛЮЧ" type="text/javascript"></script>
    <script src="map.js"></script>
</body>
</html>